/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header Styles */
  .links{
    color: black;
    list-style: none;
    display: flex;
    justify-content: end;
    position: relative;
    right: 54px;
    bottom: 25px;
  }
  li{
    padding: 5px;
  }
  .main-content {
    text-align: center;
    margin-top: 50px;
    height: 50vh;

  }
  
  .main-content h1 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .main-content p {
    font-size: 1.2rem;
    color: #555;
  }
  